<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Labbo</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700"
    rel="stylesheet">
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
</head>

<body>

  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="/"><img src="img/labbo_grupo.png" alt="" title="" /></img></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#">quem somos</a></li>
          <li><a href="#">soluções</a></li>
          <li><a href="#">resultado</a></li>
          <li><a href="#">contato</a></li>
          <li class="menu-active"><a href="">orçamento</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="hero">
    <div class="hero-container">
      <h1>queremos<br>ouvir você</h1>
    </div>
  </section><!-- #main -->

  <main id="main">

    <section id="about">
      <div class="container">
        <div class="row about-container">
          <h4 style="color: black;">Essa solicitação sofreu erros, <a href="/">volte ao início.</a></h4>
        </div>
      </div>
    </section>

  </main>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <a style="padding-left:160px" href="/"><img src="img/labbo_grupo_rodape.png" alt="" title="" /></img></a>
        </div>
        <div class="col-md-4">
          <p class="text-footer">Os detalhes não são os detalhes.<br>Eles fazem o design.</p>
        </div>
        <div class="col-md-4">
          <p class="text-footer">Sempre on.</p>
          <ul class="tm-social-networks style-icons skin-dark layout-inline list-unstyled">
            <a style="padding: 10px;" href="" target="_blank" aria-label="Instagram" class="link ">
              <i class="fa fa-instagram link-icon"></i> </a>
            <a style="padding: 10px;" href="" target="_blank" aria-label="LinkedIn" class="link">
              <i class="fa fa-linkedin link-icon"></i> </a>
            <a style="padding: 10px;" href="" target="_blank" aria-label="Google" class="link">
              <i class="fa fa-google-plus link-icon"></i> </a>
            <a style="padding: 10px;" href="" target="_blank" aria-label="Facebook" class="link">
              <i class="fa fa-facebook-official link-icon"></i> </a>
            <a style="padding: 10px;" href="" target="_blank" aria-label="Twitter" class="link ">
            <i class="fa fa-twitter link-icon"></i> </a>
          </ul>
          <p style="font-weight: bold;">Feito com <span style="color:#2dc947">♡</span></p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col" style="margin-top: -32px;">
            <p class="text-center">Como chegar.</p>
            <p class="text-menor">Rod. SC 401 Km 05 - Nº 5025 - Sala 12<br>88032-005 Florianopólis,SC-Brasil</p>
          </div>
          <div class="col" style="margin-top: -32px;">
            <p class="text-ola">Diga olá</p>
            <p class="text-menor-ola">contato@labbo.com.br<br>55 48 3225 5908</p>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
</body>

</html>